@font-face {
  font-family: 'Nanum Gothic';
  src: url("../assets/fonts/Nanum_Gothic/NanumGothic-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: 'Nanum Gothic';
  src: url("../assets/fonts/Nanum_Gothic/NanumGothic-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: 'Nanum Gothic';
  src: url("../assets/fonts/Nanum_Gothic/NanumGothic-ExtraBold.ttf");
  font-weight: 900;
}
@font-face {
  font-family: 'Nanum Myeongjo';
  src: url("../assets/fonts/Nanum_Myeongjo/NanumMyeongjo-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: 'Nanum Myeongjo';
  src: url("../assets/fonts/Nanum_Myeongjo/NanumMyeongjo-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: 'Nanum Myeongjo';
  src: url("../assets/fonts/Nanum_Myeongjo/NanumMyeongjo-ExtraBold.ttf");
  font-weight: 900;
}
@font-face {
  font-family: 'Nanum Myeongjo';
  src: url("../assets/fonts/Nanum_Myeongjo/NanumMyeongjo-ExtraBold.ttf");
  font-weight: 900;
}
@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto/Roboto-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto/Roboto-Light.ttf");
  font-weight: 200;
}
@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto/Roboto-Black.ttf");
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto/Roboto-Thin.ttf");
  font-weight: 900;
}
/* line 2, ../assets/sass/_public.scss */
html {
  font-family: 'Nanum Gothic';
  font-size: 16px;
  font-weight: 400;
  color: #666;
  line-height: 1.618;
  box-sizing: border-box;
}

/* line 14, ../assets/sass/_public.scss */
h1 {
  font-size: 2rem;
  font-weight: 900;
}

/* line 19, ../assets/sass/_public.scss */
h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

/* line 24, ../assets/sass/_public.scss */
h3 {
  font-size: 1.6rem;
  font-weight: 700;
}

/* line 29, ../assets/sass/_public.scss */
h4 {
  font-size: 1.4rem;
  font-weight: 700;
}

/* line 34, ../assets/sass/_public.scss */
h5 {
  font-size: 1.2rem;
  font-weight: 400;
}

/* line 39, ../assets/sass/_public.scss */
h6 {
  font-size: 1rem;
  font-weight: 400;
}

/* line 44, ../assets/sass/_public.scss */
p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1rem;
}

/* line 50, ../assets/sass/_public.scss */
span.label {
  display: inline-block;
  font-size: 1rem;
  color: #5f4b8b;
}

/* line 57, ../assets/sass/_public.scss */
a {
  font-size: inherit;
  color: #5f4b8b;
  text-decoration: none;
}
/* line 62, ../assets/sass/_public.scss */
a:hover {
  text-decoration: underline;
}

/* line 67, ../assets/sass/_public.scss */
.messages {
  margin-bottom: 30px;
  font-size: 0.875rem;
}

/* line 73, ../assets/sass/_public.scss */
.block-system-breadcrumb-block {
  content: '';
  display: table;
  clear: both;
  width: 100%;
}
/* line 79, ../assets/sass/_public.scss */
.block-system-breadcrumb-block .breadcrumb {
  float: right;
}
/* line 81, ../assets/sass/_public.scss */
.block-system-breadcrumb-block .breadcrumb li {
  font-size: 0.875rem;
}
/* line 82, ../assets/sass/_public.scss */
.block-system-breadcrumb-block .breadcrumb li:before {
  content: "\e940";
  font-family: 'xeicon';
  vertical-align: middle;
}
/* line 88, ../assets/sass/_public.scss */
.block-system-breadcrumb-block .breadcrumb li:first-child:before {
  content: '';
  display: none;
}
/* line 95, ../assets/sass/_public.scss */
.block-system-breadcrumb-block .breadcrumb li a {
  vertical-align: middle;
}

/* line 1, ../assets/sass/_layout.scss */
#wrapper {
  background-color: #fefefe;
}
/* line 3, ../assets/sass/_layout.scss */
#wrapper header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 3;
  width: 100%;
}
/* line 8, ../assets/sass/_layout.scss */
#wrapper header #toggler_for_sidebar .btn_toggle.closed {
  width: 55px;
  height: 55px;
  border-radius: 0;
  border: none;
  background-color: transparent;
  color: #fff;
}
/* line 16, ../assets/sass/_layout.scss */
#wrapper header #toggler_for_sidebar .btn_toggle.closed:before {
  content: '\eb45';
  font-family: 'xeicon';
  font-size: 2rem;
}
/* line 23, ../assets/sass/_layout.scss */
#wrapper header #toggler_for_sidebar .btn_toggle.opened {
  width: 55px;
  height: 55px;
  border-radius: 0;
  border: none;
  background-color: transparent;
  color: #fff;
}
/* line 31, ../assets/sass/_layout.scss */
#wrapper header #toggler_for_sidebar .btn_toggle.opened:before {
  content: '\eb46';
  font-family: 'xeicon';
  font-size: 2rem;
}
/* line 40, ../assets/sass/_layout.scss */
#wrapper #main_container {
  position: relative;
  width: 100%;
}
/* line 44, ../assets/sass/_layout.scss */
#wrapper #main_container aside {
  position: absolute;
  top: 0;
  left: -200px;
  bottom: 0;
  z-index: 2;
  width: 200px;
  background-color: #fff;
  transition: left ease-out .25s;
}
/* line 51, ../assets/sass/_layout.scss */
#wrapper #main_container aside #sidebar_first {
  padding: 15px;
}
/* line 55, ../assets/sass/_layout.scss */
#wrapper #main_container aside #sidebar_bottom {
  padding: 15px;
}
/* line 61, ../assets/sass/_layout.scss */
#wrapper #main_container main {
  min-height: 600px;
  transition: padding-left ease-out .25s;
}
/* line 68, ../assets/sass/_layout.scss */
#wrapper #main_container main.only_content {
  width: 100%;
}
/* line 72, ../assets/sass/_layout.scss */
#wrapper #main_container main .region-content {
  padding: 20px;
}
/* line 78, ../assets/sass/_layout.scss */
#wrapper #main_container.closed aside {
  left: -200px;
}
/* line 82, ../assets/sass/_layout.scss */
#wrapper #main_container.closed main {
  width: 100%;
  padding-left: 0;
}
/* line 89, ../assets/sass/_layout.scss */
#wrapper #main_container.opened aside {
  left: 0;
}
/* line 93, ../assets/sass/_layout.scss */
#wrapper #main_container.opened main {
  width: calc(100% - 200px);
  padding-left: 200px;
}
/* line 100, ../assets/sass/_layout.scss */
#wrapper footer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 3;
  width: 100%;
  background-color: #5f4b8b;
}
/* line 106, ../assets/sass/_layout.scss */
#wrapper footer #footer_top {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
/* line 110, ../assets/sass/_layout.scss */
#wrapper footer #footer_bottom {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
/* line 115, ../assets/sass/_layout.scss */
#wrapper footer .block-system-powered-by-block {
  padding: 15px;
  font-size: 1rem;
  color: #fff;
  text-align: center;
}

/* line 127, ../assets/sass/_layout.scss */
.ultra_violet #wrapper header, .ultra_violet #wrapper footer {
  background-color: #5f4b8b;
}
/* line 132, ../assets/sass/_layout.scss */
.ultra_violet #main_container aside {
  border-right: 1px solid #5f4b8b;
}

/* line 140, ../assets/sass/_layout.scss */
.greenery #wrapper header, .greenery #wrapper footer {
  background-color: #88b04b;
}
/* line 145, ../assets/sass/_layout.scss */
.greenery #main_container aside {
  border-right: 1px solid #88b04b;
}

/* line 153, ../assets/sass/_layout.scss */
.rose_quartz #wrapper header, .rose_quartz #wrapper footer {
  background: #f7cac9;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #f7cac9 0%, #91a8d1 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #f7cac9 0%, #91a8d1 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f7cac9 0%, #91a8d1 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7cac9', endColorstr='#91a8d1',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
/* line 161, ../assets/sass/_layout.scss */
.rose_quartz #wrapper #main_container aside {
  border-right: 1px solid #f7cac9;
}

/* line 170, ../assets/sass/_layout.scss */
.serenity #wrapper header, .serenity #wrapper footer {
  background: #91a8d1;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #91a8d1 0%, #f7cac9 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #91a8d1 0%, #f7cac9 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #91a8d1 0%, #f7cac9 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91a8d1', endColorstr='#f7cac9',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
/* line 178, ../assets/sass/_layout.scss */
.serenity #wrapper #main_container aside {
  border-right: 1px solid #91a8d1;
}

/* line 2, ../assets/sass/_menu.scss */
ul.menu {
  display: table;
  margin: 0;
}
/* line 5, ../assets/sass/_menu.scss */
ul.menu:before {
  clear: both;
}
/* line 9, ../assets/sass/_menu.scss */
ul.menu:after {
  clear: both;
}
/* line 13, ../assets/sass/_menu.scss */
ul.menu li.menu-item {
  padding-top: 0;
}

/* line 18, ../assets/sass/_menu.scss */
nav.menu--main {
  float: right;
  padding: 15px;
}
/* line 22, ../assets/sass/_menu.scss */
nav.menu--main ul.menu > li.menu-item {
  float: left;
}
/* line 27, ../assets/sass/_menu.scss */
nav.menu--main ul.menu > li.menu-item:first-child a:before {
  content: '\e900';
  position: relative;
  top: 1px;
  margin-right: 5px;
  font-family: 'xeicon';
  color: #fff;
}
/* line 40, ../assets/sass/_menu.scss */
nav.menu--main ul.menu > li.menu-item:nth-child(2) a:before {
  content: '\e9a0';
  position: relative;
  top: 1px;
  margin-right: 5px;
  font-family: 'xeicon';
  color: #fff;
}
/* line 53, ../assets/sass/_menu.scss */
nav.menu--main ul.menu > li.menu-item:nth-child(3) a:before {
  content: '\ea34';
  position: relative;
  top: 1px;
  margin-right: 5px;
  font-family: 'xeicon';
  color: #fff;
}
/* line 64, ../assets/sass/_menu.scss */
nav.menu--main ul.menu > li.menu-item a {
  padding: 5px 15px;
  color: #fff;
}

/* line 74, ../assets/sass/_menu.scss */
nav.menu--skills > ul.menu > li.menu-item {
  margin-bottom: 20px;
}
/* line 76, ../assets/sass/_menu.scss */
nav.menu--skills > ul.menu > li.menu-item.menu-item--expanded {
  list-style-image: none;
}
/* line 79, ../assets/sass/_menu.scss */
nav.menu--skills > ul.menu > li.menu-item.menu-item--expanded > ul.menu {
  margin-left: 15px;
}
/* line 82, ../assets/sass/_menu.scss */
nav.menu--skills > ul.menu > li.menu-item.menu-item--expanded > ul.menu > li.menu-item {
  margin-bottom: 5px;
}
/* line 85, ../assets/sass/_menu.scss */
nav.menu--skills > ul.menu > li.menu-item.menu-item--expanded > ul.menu > li.menu-item a {
  font-family: 'Roboto';
  font-size: 1.25rem;
  font-weight: 200;
}
/* line 94, ../assets/sass/_menu.scss */
nav.menu--skills > ul.menu a {
  font-family: 'Roboto';
  font-size: 1.618rem;
  font-weight: 200;
}

/* line 102, ../assets/sass/_menu.scss */
#block-toggler-for-sidebar {
  float: left;
}

/* line 4, ../assets/sass/_view.scss */
.view.grid .view-content .views-row {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3333);
  box-sizing: border-box;
}
/* line 13, ../assets/sass/_view.scss */
.view.grid .view-content .views-row .views-field-title {
  margin-bottom: 15px;
}
/* line 17, ../assets/sass/_view.scss */
.view.grid .view-content .views-row .views-field-body {
  margin-bottom: 15px;
}
/* line 19, ../assets/sass/_view.scss */
.view.grid .view-content .views-row .views-field-body * {
  font-size: 0.875rem;
  color: #666;
}

/* line 34, ../assets/sass/_view.scss */
.ultra_violet .view.grid .view-content .views-row {
  border: 1px solid #5f4b8b;
}

/* line 46, ../assets/sass/_view.scss */
.greenery .view.grid .view-content .views-row {
  border: 1px solid #88b04b;
}

/* line 58, ../assets/sass/_view.scss */
.rose_quartz .view.grid .view-content .views-row {
  border-top: 1px solid #f7cac9;
  border-left: 1px solid #f7cac9;
  border-right: 1px solid #91a8d1;
  border-bottom: 1px solid #91a8d1;
}

/* line 70, ../assets/sass/_view.scss */
.serenity .view.grid .view-content .views-row {
  border-top: 1px solid #91a8d1;
  border-left: 1px solid #91a8d1;
  border-right: 1px solid #f7cac9;
  border-bottom: 1px solid #f7cac9;
}
